# Ignore everything in the root
/*
# white-list
## directories
!/src/
!/charts
**/build
## files
!.gitignore
!package-lock.json
!package.json
!tsconfig.json
!TestData.csv
!.prettierrc.js
!.eslintrc.js
!readme.md
!webpack*.config.js